In [4]:
 import pandas as pd

biodiesel_df = pd.read_excel("raw_data/biodiesel.xlsx")
org_map_df = pd.read_excel("raw_data/org_mapping.xlsx")

In [10]:
biodiesel_df.head()

,Plant,Posting Date,Material,Material Description,Total quantity,Posted unit of meas.,Order,CO object name,Period,Fiscal Year
0,1925,2021-01-02,20027697,Biodiesel 30%,300,L,BUS-03-1925,Toyota Dyna Rino (Bus Sekolah),1,2021
1,1922,2021-01-02,20027697,Biodiesel 30%,340,L,JEEP-22-1922,Toyota Hilux B 9299 PBD MGR,1,2021
2,1922,2021-01-02,20027697,Biodiesel 30%,600,L,JEEP-24-1922,Toyota Hilux B 9299 PBB,1,2021
3,1921,2021-01-02,20027697,Biodiesel 30%,800,L,JEEP-30-1921,Toyota Hilux B9557PBD Askep,1,2021
4,1925,2021-01-02,20027697,Biodiesel 30%,400,L,JEEP-35-1925,Toyota Hilux B9387PBD MBL ASKEPRY.1,1,2021

In [11]:
org_map_df.head()

   Unit mapping Level 1 Level 2
0          1005     BU1     NaN
1          1922     NaN     BU4
2          1923     NaN     BU5
3          1924     NaN     BU6
4          1920     BU2     NaN

According to the UK Government’s DEFRA 2021 dataset, under the Fuels tab, the factor for:

Biodiesel (30% blend, known as B30) used in transportation (mobile combustion)

is approximately:2.49 kg CO₂e per liter = 0.00249 t CO₂e per liter

In [12]:
EMISSION_FACTOR = 0.00249  # tCO2e per liter
biodiesel_df["Emissions(tCO2e)"] = biodiesel_df["Total quantity"] * EMISSION_FACTOR